<div class="container-fluid w-50">
  <h1>Schedules</h1>
  <p>Find all the schedules!</p>

  <table class="table">
    <tr class="header">
      <th>#</th>
      <th>Trucker id</th>
      <th>Schedule Name</th>
      <th>Date of Delivery </th>
    </tr>

    <% @schedules.each do |s| %>
      <tr>
        <td> <%= s.id %> </td>
        <td> <%= s.trucker_id %> </td>
        <td> <%= s.schedule_name %> </td>
        <td> <%= s.delivery_date %></td>
      </tr>
    <% end %>
  </table>
</div>


