<div class="container w-50">
  <h1>Truckers</h1>
  <p>List all the truckers !!  <%= link_to("Create new Trucker", new_trucker_path, :class => 'btn btn-outline-success') %></p>
  <table class="table table-bordered">
    <col width="60">
    <col width="40">
    <tr class="header">
      <th>Id </th>
      <th>Trucker Name</th>
    </tr>

    <% @truckers.each do |t| %>
      <tr>
        <td> <%= t.id %></td>
        <td> <%= t.name %></td>
      </tr>
    <% end %>
  </table>
</div>


